  
<div class="row col-md-1">
  <h3 style="font-family: Leckerli One; color: black;"><%= link_to "Most Recent", root_path %></h3>
  <% if user_signed_in? %>
    <h3 style="font-family: Leckerli One; color: lightblue;"><%= link_to "Signout", destroy_user_session_path, :method => "delete"%></h3>
  <% else %>
  <% end %>  
</div>  
  <div class="row-fluid col-md-12">
    <div id="container-fluid">
      <div class="col-md-10 col-md-offset-1">
        <ul class="thumbnails list-unstyled item">
          <% if @search.nil? %>
            <h1 style="font-family: Leckerli One; color: black; "> Most Popular </h1>
          <% else %>
            <h2 style="font-family: Leckerli One; color: black; ">Search Results</h2>      
          <% end%>

         <% @videos.each do |video| %>
            <div class="item" id="videos">
              <li class="col-md-4">
                <div class="thumbnail img-polaroid"> 
                  <%= raw youtube_embed(video.video_link)%>

                      <div class="voteup">
                        <% if current_user &&  current_user.voted_for?(@items.find(video.id))%>
                          <%= button_to "Thanks!", video_vote_up_path(video.id), id: "voteup", class: "btn btn-sm btn-success disabled", :remote => true %>
                        <% else %>
                          <%= button_to "Dope", video_vote_up_path(video.id), id: "voteup", class: "btn btn-sm  btn-success", :remote => true %>
                        <% end %>
                      </div>  
                      
                      <div class="votedown">
                        <% if current_user &&  current_user.voted_against?(@items.find(video.id)) %>
                          <%= button_to "Thanks!", video_vote_down_path(video.id), class: "btn btn-sm btn-danger disabled", style: "display: inline;", :remote => true %>
                        <% else %>
                          <%= button_to "Nope", video_vote_down_path(video.id), class: "btn btn-sm btn-danger", style: "display: inline;", :remote => true %>
                        <% end %>
                      </div>    

                    <div class="caption well">
                      <span><%= "Artist: #{video.artist}" %></span><br>
                      <%= "Song: #{video.song}"%><br>
                      <%= "Uncovered by: #{video.submitted_by}"%><br></span>
                      <em><%= "Votes: #{video.votes_for}"%></em><br></span>
                      <%= link_to "0 Comments", 
                      video_path(video, :anchor => "disqus_thread"), 
                     :"data-disqus-identifer" => video.id %><br>
                    </div>  
 
                </div>
              </li>               
            </div> 
          <% end %>
         </ul>
         <%= will_paginate @videos, style: "font-family: 'Tauri', sans-serif; font-size: 15px;" %>
      </div>
    </div>  
  </div>            