  <div class="row-fluid col-md-12">
    <div class= "col-md-2">  
      <h3 style="color: #046380; font-family:Leckerli One;">Recent</h3>      
      <a href="/most_popular"><h3 style="color: #046380; font-family: Leckerli One;">Most Popular</h3></a>
      <h3 style="color: #046380; font-family: Leckerli One;">Top Gems</h3>
    </div>   
    
    <div id="container-fluid">
      <div class="col-md-10">
        <ul class="thumbnails list-unstyled item">
          <% @videos.each do |video| %>
            <div class="item">
              <li class="col-md-4">
                <div class="thumbnail img-polaroid"> 
                  <%= raw youtube_embed(video.video_link)%>
                    <div class="caption well-large">  
                      <span><%= "Artist: #{video.artist}" %></span><br>
                      <%= "Song: #{video.song}"%><br>
                      <%= "Found by: #{video.submitted_by}"%><br></span>
                      <%= "Votes: #{video.votes_for}"%><br></span>
                      <%= link_to "This will be replaced by the comment count", 
                      video_path(video, :anchor => "disqus_thread"), 
                     :"data-disqus-identifer" => video.id %>

                     <div class= "votingbuttons" style="btn-group btn-group-justified"> 

                        <% if current_user &&  current_user.voted_for?(@videos.find(video.id)) %>
                          <%= button_to "Dope", video_vote_up_path(video.id), class: "btn btn-success disabled" %>
                        <% else %>
                          <%= button_to "Dope", video_vote_up_path(video.id), class: "btn btn-success" %>
                        <% end %> 
                      
                        <% if current_user &&  current_user.voted_against?(@videos.find(video.id)) %>
                          <%= button_to "Nope!", video_vote_down_path(video.id), class: "btn btn-danger navbar-btn disabled" %>
                        <% else %>
                          <%= button_to "Nope!", video_vote_down_path(video.id), class: "btn btn-danger navbar-btn" %>
                        <% end %>  
                      </div>    
                    </div>             
              </li>
            </div>  
          <% end %>
        </ul>
      </div>
    </div>  
  </div>            


