<div class="jumbotron">

	<div class="row">

		<div class="navbar navbar-default navbar-fixed-top" >

		  <%= render 'layouts/messages' %>

		  <div class="navbar-header">
        <a href="/"><%= image_tag("finallogo3.png")%></a>
      </div>   
  
      <ul class="nav navbar-nav">
        <li class="text-center"><%= button_to "Sign up", new_user_registration_path, method: "get", class: "btn navbar-btn btn-primary" %></li>
      </ul>      	


      <form class="navbar-form navbar-right" role="signin">
      	<%= link_to "Forgot your password?", new_password_path('user')%>
        <div class="form-group">
          <%= form_for("user", :url => user_session_path) do |f| %>
						<%= f.text_field :email, placeholder: "Email" %>
						<%= f.password_field :password, placeholder: "Password" %>
						<%= f.submit 'Sign in', class: "btn btn-default btn-sm" %>
				  <% end %>
				</div>  
			</form>
		</div>
	</div>	
	<div class="textinjumbo">	
		<h2>Discover musical gems. Contribute and vote for overlooked music.</h2>
	</div>  
</div>  