<div class= "container">
	<div class="navbar navbar-default navbar-fixed-top" >
		<%= render 'layouts/messages' %>


    <div class="navbar-collapse collapse">


		  <div class="navbar-header">
        <a href="/"><%= image_tag("logobronson1.png")%></a>
      </div>
      
      <div class="nav navbar-nav navbar-left"><h1 style="color: #67ff5c; font-family: Leckerli One; font-size: 40px; margin-top: 10px; padding-right: 55px;"><a href="/" style="color: #ffffff; text-decoration: none;"> HiddenGems</h1></a></div>
          
      <form class="navbar-form navbar-left" role="search">
        
        <div class="form-group">
          <%= form_tag videos_path, class: "form-control",  method: :get do %>
          <%= text_field_tag :query, params[:query], class: "form-control" %>
        </div>
         <%= submit_tag "Search", class: "btn btn-default", :name => nil %>
        
        <% end %> 
      </form>  
  

      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><h5 class="navbar-text"><%= button_to "Submit a gem", new_video_path, :method => "get", class: "btn btn-success" %></h5></li> 
          <li><h5 class="navbar-text", style="color: #ffffff; font-size: 25px;"><%= "@#{current_user.username}" %></li></h5>   
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right" style="display: inline;">
          <li><h5 class="navbar-text"><%= button_to "Create Account", new_user_registration_path, class: "btn btn-success", method: "get" %></li>
          <li><h5 class="navbar-text"><%= link_to "Sign in", user_session_path, method: "get", style: "color: #ffffff;" %></h5></li>
        </ul> 
      <% end %>
    </div>
	</div>
</div>  