<div class= "container">
	<div class="row">

		<div class="navbar navbar-default navbar-fixed-top" >
		  <%= render 'layouts/messages' %>


		  <div class="navbar-header">
        <a href="/"><%= image_tag("logobronson1.png")%></a>
      </div>
      <div class="nav navbar-nav navbar-left"><h3>HiddenGems</h3></div>

  

      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= button_to "Submit a gem", new_video_path, :method => "get", class: "btn btn-primary", :style => 'margin: 7px;' %></li>
          <li><h5 class="navbar-text"><%= link_to "Signout", destroy_user_session_path, :method => "delete", :style => "padding-left: 0px;"%></h5></li>          
          <li><h5 class="navbar-text"><%= "@#{current_user.username}" %></h5></li>

        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= button_to "Create Account", new_user_registration_path, method: "get", class: "btn navbar-btn btn-primary", :style => 'margin: 8px;' %></li>
          <li><%= button_to "Sign in", user_session_path,class: "btn btn-default btn-sm", :style => "margin-bottom: 1px; margin: 8px;", method: "get" %></li>
        </ul> 
	    <% end %>
	  </div>
	</div>  
</div>  